.NavBar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.navTitle{
    display: flex;
}
.navTitle p{
    color: #100A42;
    font-weight: 700;
    margin-left: 10px;
    font-size: 16px;
}
.Features{
    display: flex;
}
.Link{
    text-decoration: none;
    outline: none;
}
.Features p{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
}
.started{
    display: flex;
}
.started p{
    color: #100A42;
    font-weight: 700;
    font-size: 16px;
}
.Icon2{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
#line1{
    border-top: none;
    height: 1px;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
.BelowNav{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 174px;
}
.TextButton h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #141414;
    width: 468px;
    height: 128px;
    /* font-family: Sora; */
}
.TextButton p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000BF;
    width: 548px;
    height: 56px;
    /* font-family: Inter; */
    /* font-family: Sora; */
}
.TextButton button{
    background-color: #120B48;
    color: white;
    padding: 22px, 24px, 22px, 24px;
    width: 239px;
    height: 65px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
button:hover{
    background-color: white;
    color: #100A42;
    border: #100A42 solid 1px;
}
.images{
    display: flex;
}
.Icon7{
    margin-left: 10px;
    border-radius: 8px;
    width: 305px;
    height: 448px;
}
.AdobeStock{
    margin-top: 10px;
    border-radius: 8px;
    width: 364px;
    height: 218px;
}
.AdobeStock2{
    border-radius: 8px;
    width: 364px;
    height: 218px;
    /* width: 374px;
    height: 221px; */
}
.imgColumn {
    position: relative;
  }
  
  .Icon7 {
    position: absolute;
    top: 0; /* Adjust this value to control the vertical position */
    left: 0; /* Adjust this value to control the horizontal position */
  }

  .imgRow {
    position: relative;
  }
  
  .AdobeStock {
    position: absolute;
    top: 220px; /* Adjust this value to control the vertical position */
    left: 0; /* Adjust this value to control the horizontal position */
  }
  .grid1{
    margin-left: 10px;
    margin-top: -60px;
    width: 330px;
    height: 313.08px;
  }
  .grid2{
    width: 330px;
    height: 313.08px;
    margin-left: -50px;
  }
  #line2{
    margin-top: 80px;
    border-top: none;
    height: 50px;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
#line3{
    margin-bottom: 100px;
}
.FeaturesIconText{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.IconText{
    display: flex;
    margin-top: 40px;
}
.FeatureText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FeatureText h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50.4px;
    /* width: 800px;
    height: 50px; */
    color: #141414;
}
.FeatureText p{
    margin-top: -30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30.26px;
    /* width: 800px;
    height: 30px; */
    color: #616163;
}
.Icon5, .Icon4, .Icon3{
    width: 48px;
    height: 48px;
    color: #413C6D;
}
.FeaturesText{
    margin-top: -25px;
    margin-left: 20px;
}
.FeaturesText h2{
    color: #1B233D;
    font-weight: 600;
    font-size: 28px;
    line-height: 33.89px;
    width: 484px;
    height: 34px;
}
.FeaturesText p{
    color: #616163;
    font-weight: 400;
    font-size: 20px;
    line-height: 30.26px;
    width: 484px;
    height: 60px;
    margin-top: -10px;
}
.Icon6{
    width: 636px;
    height: 454px;
    border-radius: 8px;
}